@import "base/global";
@import "base/variables";
@import "base/mixins";

.header {
  width: 100%;
  max-width: 1440px;
  margin: 2rem auto;
  padding: 1rem;
  /* Clearfix for navigation float */
  &:after {
    content: "";
    display: table;
    clear: both;
    /* For devices greater than 768px */
    @include md {
      padding: 2rem 3rem;
    }
  }
}

.logo {
  width: 60px;
  height: 60px;
}
