/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background-color: #2d2d2d;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
  border-left: 0.5em solid #ff9800;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: calc(100% - 3em); /* 2 */
}

/* Adjust the position of the line numbers */
.gatsby-highlight pre[class*="language-"].line-numbers {
  padding-left: 3em;
  padding-right: 1em;
}

.gatsby-highlight pre[class*="language-"].line-numbers .line-numbers-rows {
  right: calc(100% - 25px);
  left: unset !important;
}

.gatsby-highlight
  pre[class*="language-"].line-numbers
  .gatsby-highlight-code-line {
  background-color: #455a64;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
}

/*
* Inline code blocks
*/
:not(pre) > code[class*="language-"] {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 0.2em;
  white-space: normal;
}
